* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #f4f7fa;
    font-size: 16px;
    font-family: Roboto, sans-serif;
    color: #464646;
    text-align: left;
}





img {
    max-width: 100%;
}

.navbar {
    height: 55px;
    font-size: 16px;
    color: #fff;
}

.content {
    max-width: 100%;
    float: right;
    height: 60px;
}

.padding {
    padding: 0 7px
}

.classul {
    padding: 0;
    margin: 0;
    max-width: 100%;
    height: 60px;
}

.classli {
    cursor: pointer;
    height: 60px;
    line-height: 4;
    list-style: none;
    float: left;
    padding: 0 20px;
}

.classa {
    font-family: Roboto, sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    font-size: 14px;
    color: #fff;
}

.container {
    max-width: 1250px;
    margin: auto;
    margin-top: 60px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: white;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.title {
    margin-bottom: 15px;
}

h1 {
    line-height: 1.75 !important;
    font-size: 1.6rem!important;
    font-weight: 500;
}

.boxContent {
    max-width: 75%;
    height: 100%;
    padding-left: 15px;
    padding-right: 15px;
}

.mainContent {
    overflow-x: auto;
    padding: 1.5rem 0 1rem 0;
    border-top: 0.5px solid #00000020;
    line-height: 1.75rem;
    letter-spacing: -0.003em;
    font-family: 'Open Sans', sans-serif;
}



.aside {
    max-width: 25%;
    height: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

h4 {
    display: inline-block;
    position: relative;
    padding: 10px 20px 10px 20px;
    background-color: green;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
    margin-bottom: 1.5rem;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 1.75;
}

.mainAside {
    border-bottom: 1px dashed #00000020;
    padding: 0.5rem 0;
    
}

a {
    text-decoration: none;
    color: black;
    font-size: 0.9rem;
    background-color: transparent;
    cursor: pointer;
    font-weight: 400;
    line-height: 1.5;
}

footer {
    width: 100%;
    margin: auto;
    margin-top: 20px;
    padding: 20px;
    background-color: darkgrey;
    text-align: center;
    color:black;
}

.phototitle  {
    text-align: center;
}

