h1 { 
    color: tomato;
    }
   #idselector {
       background-color: darksalmon;
       color: black;
   }
 body {
       text-align: center;
   }
   p {
       color: navy;
   }
#tuvan  {
    background-color: darksalmon ;
}