h1 {
    color:tomato;
    text-align: center;
}
img.cangiua{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
p {
    text-align: center;
}
b {
    color: darkblue;
}
body {
    font-family: comic sans MS;
        background-color: antiquewhite
    }